body {
	display: flex;
	flex-direction: column;
}
h2 {
    color: var(--color-dark);
	text-align: center;
    padding: 1rem;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	padding: 2rem;
	padding-top: 0;
	max-width: 1000px;
	margin: auto;
}
.naziv {
	flex: 1;
	justify-self: stretch;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	height: inherit;
	padding: 1rem;
	gap: 3rem;
	color: var(--color-dark);
	font-size: 48px;
}
.galerija {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.instrument {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	cursor: pointer;
}
.instrument img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.zvucnik {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}
.zvucnik img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
table {
	width: 700px;
	display: flex;
	flex-direction: column;
}
thead, tbody {
	width: 100%;
	flex: 1;
}
tr {
	width: 100%;
	display: flex;
	gap: 1px;
}
tr:not(:first-of-type) {
	margin-top: 1px;
}
th, td {
	padding: 1rem;
	flex: 1;
	border: 1px double var(--color-nutrual);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
thead {
	background-color: var(--color-dark);
	color: var(--color-bg);
}
tbody {
	background-color: var(--color-light);
	gap: 1px;
}
td {
	font-size: 40px;
}
.saznaj-vise {
	font-size: 24px;
	text-decoration: underline;
	color: auto;
}