* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b4d9eb;
    min-height: 100vh;
}
h1 {
    color: #2b5480;
    padding: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}
nav {
	background-color: #2b5480;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.links {
	display: flex;
}

.link {
	padding: 1rem;
	border-right: 1px solid white;
	height: 100%;
}
.link.active {
	background-color: #82b7d0;
	color: black;
}

.zavrsni-ispit {
	padding: 1rem;

}